@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex;justify-content: space-around">
    <div class="text-center col-lg-8">
        <h1 class="fw-bold">Welcome to Back on Track</h1>
        <p>
            In our fast-paced world, it's easy to lose sight of what truly matters.
            The constant rush, digital distractions, and never-ending to-do lists can leave us feeling disconnected and overwhelmed.
            But what if there was a way to bring more mindfulness and balance back into your life?
        </p>
        <br />
        <h3>Discover Mindful Living</h3>
        <p>
            At Back on Track, we believe in the power of mindfulness.
            We've created a one-stop destination for individuals like you who are seeking a harmonious life.
            Our website offers a range of tools and resources designed to help you regain control, find inner peace, and live a life in tune with your true self.
        </p>
        <br />
        <h3>The Mindfulness Trio</h3>
        <uL>
            <li>Sleep Tracker: Quality sleep is the cornerstone of a mindful life. Our sleep tracker helps you monitor your sleep patterns, providing insights to enhance your rest and rejuvenation. With Back on Track, you can start each day fully refreshed.</li>
            <li>To-Do List: Overwhelmed by your daily tasks? Our to-do list feature helps you organize and prioritize your responsibilities. Experience the satisfaction of accomplishing your goals, one step at a time</li>
            <li>Stress Calendar: Stress is a part of life, but it doesn't have to control your life. Our stress calendar lets you track stressors, understand their patterns, and manage them effectively. Say goodbye to daily chaos and embrace a calmer, more balanced you.</li>
        </uL>

    </div>
</div>

