@model BackOnTrack.GUI.Models.SleepResult.SleepResultViewModel

<h4>Create a new sleep result</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TimeSlept" class="control-label"></label>
                <input asp-for="TimeSlept" class="form-control" />
                <span asp-validation-for="TimeSlept" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Date" class="control-label"></label>
                <input type="date" asp-for="Date" class="form-control" max="@DateTime.Today.ToString("yyyy-M-dd")" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form> 
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            // Check if TempData contains a success notification
            var FailedNotification = '@TempData["FailedCreation"]';

            if (FailedNotification) {
                // Use Toastr to display the success notification
                toastr.error(FailedNotification, "Notification");
            }
        });
    </script>
}

