@model BackOnTrack.GUI.Models.SleepResult.SleepResultViewModel

<div class="row">
    <div class="col-md-4">
        <p>Edit result for date: @Model.Date.ToString("dddd | dd/M/yyyy")</p>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TimeSlept" class="control-label"></label>
                <input asp-for="TimeSlept" class="form-control" />
                <span asp-validation-for="TimeSlept" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            var errorNotification = '@TempData["EditErrorNotification"]';

            if (errorNotification) {
                toastr.error(errorNotification, "Error");
            }
        });
    </script>
}
